.hero-section {
  margin: 20px 100px;
  display: flex;
  height: 100vh;
  justify-content: center;
}
.hero-section--left p {
  color: gray;
}
* {
  font-family: sans-serif;
}
.hero-section h1 {
  font-size: 40px;
}
.hero-section span {
  color: orange;
}
.btn-primary {
  background-color: orange;
  padding: 5px 30px;
  border-radius: 7px;
  box-shadow: 5px 5px 15px orange;
  color: white;
  font-size: 20px;
  font-weight: 900px;
}
